*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a91ff;
}

.box{
    width: 500px;
    height: auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.315);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.inputbox{
    height: 100px;
    width: 90%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.inputbox input{
    width: 60%;
    height: 40px;
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-bottom: 3px solid #0a91ff;
    outline: none;
    font-weight: 600;
    font-size: 1.3rem;
}
.inputbox button{
    width: 130px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #0a91ff;
    background-color: #0a91ff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.155);
    color: #fff;
    cursor: pointer;
}
.inputbox button:hover{
    background-color: #1a5fff;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
}

.inputbox button:active{
    background-color: #0a91ff;
    color: #fff;
}

/* next maininfo */
.maininfo{
    display:none;
    align-items: center;
    flex-direction: column;
    height: 430px;
    width: 100%;
    margin-bottom: 10px;

}
.nameflag{
    height: 190px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nameflag img{
    margin-top: 10px;
    height: auto;
    width: 200px;
}
.nameflag p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}


/* last maininfo */
.mainpage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    width: 100%;
    margin-left: 80px;
    margin-bottom: 10px;
}

.mainpage div{
    display: flex;
    
}

.mainpage div p{
    margin-left: 10px;
}